.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.local/share
.emacs.d/site-lisp
.emacs.d/lisp
.emacs.d/emms
.emacs.d/elpa
.emacs.d/elpy
.emacs.d/recentf
.emacs.d/auto-save-list/
.emacs.d/network-security.data
.emacs.d/sly-mrepl-history
.emacs.d/tramp
.config/Code - OSS/
.config/QtProject.conf
.config/chromium/
.config/configstore/
.config/dconf/
.config/enchant/
.config/fish/
.config/gcloud/
.config/htop/
.config/libreoffice/
.config/mimeapps.list
.config/pulse/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/spotify/
.config/tkfilebrowser/
.config/user-dirs.dirs
.config/user-dirs.locale
.emacs.d/transient/
